.cta-button {
  background-color: rgba($color-primary, 0.35);
  border: 1px solid rgba($color-primary, 0.5);
  color: $color-white;
  font-family: $font-secondary-medium;
  font-size: $font-size-subtitle;
  text-align: center;
  transition: 0.4s;
  border-radius: $border-radius;
  padding: 0.5em 2em;
  cursor: pointer;
}

.cta-button:hover {
  background-color: rgba($color-primary, 0.15);
  border: 1px solid rgba($color-primary, 0.25);
  color: $color-white;
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  cursor: pointer;
  .copy-icon {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  &:hover .copy-icon {
    opacity: 1;
  }
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  cursor: pointer;
  .delete-icon {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  &:hover .delete-icon {
    opacity: 1;
  }
}
