.password-manager {
  width: 80%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
  background-color: $color-background;

  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    .table-row {
      display: flex;
      flex-direction: row;
      height: $height-row;
      border: 1px solid $color-stroke;

      &:first-child {
        height: $height-header;
        border: none;

        .table-header {
          padding-left: 1.5rem;
          color: $color-white;
          position: relative;
          font-family: $font-secondary-medium;
          font-size: $font-size-subtitle;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex: 1;
          &:last-child {
            flex: 0.5;
          }
        }
      }
      &:nth-child(2) {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      .tools-cell {
        opacity: 0;
        display: flex;
        flex-direction: row;
      }
      &:hover {
        .tools-cell {
          transition: all 0.4s ease-in-out;
          opacity: 1;
        }
      }
      .table-cell {
        padding-left: 1.5rem;
        color: $color-text;
        font-family: $font-secondary-regular;
        font-size: $font-size-text;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        .tags-cell {
          display: flex;
          flex-direction: row;
          gap: 4px;
          .tag {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: rgba($color-white, 0.25);
            font-size: $font-size-tags;
            color: $color-white;
            border-radius: $border-radius;
            padding: 2px 6px;
          }
        }
        &:last-child {
          flex: 0.5;
        }
      }
    }
  }
}
