$font-primary: "Poppins-Regular", sans-serif;
$font-secondary: "Roboto-Regular", sans-serif;
$font-detail: "Roboto-Light", sans-serif;

$font-size-regular: 16px;
$font-size-xl: 64px;
$font-size-small: 12px;

$color-background: #011a13;
$color-white: #d9f2ec;
$color-white-blue: #aaf2df;
$color-modal-background: #02271d;
$color-primary: #06eeb0;
$color-field: #aaf2df;
$color-password: #023326;
