$font-secondary-medium: "Geist-Medium", sans-serif;
$font-secondary-regular: "Geist-Regular", sans-serif;

$font-size-subtitle: 16px;
$font-size-text: 12px;

$color-background: #141f1c;
$color-white: #fafffe;
$color-text: #9aada9;
$color-stroke: #293d38;
$color-primary: #00cc95;

$border-radius: 5px;

$height-row: 48px;
$height-header: 40px;
